	@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat|Work+Sans|Lato');


	*{
		padding: 0;
		margin: 0;
	}
	body{
		width: 100%;
		height: 100vh;
	}
		.background{
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			background: #C9D6FF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
			background: -webkit-linear-gradient(right, #E2E2E2, #C9D6FF);
			background: -o-linear-gradient(right, #E2E2E2, #C9D6FF);
			background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		
		}

		.modal{
			position: relative;
			margin:auto;
			margin-top: 30px;
			width: 400px;
			background-color:#f1f2f6;
			border-radius: 15px 15px;
		}
		.header{
			display: flex;
			border-radius: 15px 15px 0 0;
			padding: 15px 0;
			/*background-color: #2C3A47;*/
			background-color: #6d6d6d;
			color:#bdc3c7;
			/*box-shadow: 0 15px 30px 0 rgba(0,0,0,0.06);*/
		}
		.title{
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			font-weight: bold;
			margin: 10px;
		}
		.icon{
			margin: 10px;
			margin-left: 30px;
			font-size: 30px;
		}
		.messages{
			width: 100%;
			height: 350px;
			padding: 5px;
			font-family: 'Work Sans', sans-serif;
			box-sizing: border-box;
			overflow-Y: scroll;
		}
		.message .text{
			display: block;
			font-size: 15px;
			
		}
		.message{
			width: 180px;
			padding: 20px;
			margin: 10px;
/*			box-shadow: 0 15px 30px 0 rgba(0,0,0,0.05),
            0 5px 15px 0 rgba(0,0,0,0.05);*/
			}
		.primary{
			background-color: #706fd3;
			float: left;
			clear: both;
			border-radius: 0 15px 15px 15px;
			color:#e3e3e3;
			box-shadow: 0 15px 30px 0 rgba(0,0,0,0.05),
            0 5px 15px 0 rgba(0,0,0,0.05);
		}
		.other{
			float:right;
			clear: both;
			border-radius: 15px 0px 15px 15px;
			background-color: #fff;
			color:#828282;
			box-shadow: 0 15px 40px 0 rgba(0,0,0,0.03),
            0 5px 15px 0 rgba(0,0,0,0.03);
		}

		.form{
			clear: both;
			position: relative;
		}
		.form .input-text{
			box-sizing: border-box;
			width: 100%;
			display: block;
			border:none;
			outline: none;
			padding: 15px;
			padding-left: 35px;
			background-color: #fff;
			color:#838383;
			font-family: 'Work Sans', sans-serif;
			font-size: 16px;
		}
		.form .input-button{
			display: none;
		}
		.button-send{
			display: block;
			background-image: url("https://cdn.glitch.com/7285e670-2249-4cfd-9c6f-0c31bde1a258%2Fpaper-plane.svg?1545280470144");
			width:20px;
			height:20px;
			background-position: center;
			background-size: cover;
			position: absolute;
		}
		.input-text-cont{
			position: relative;
		}
		
		.credits{
			position:absolute;
			left:10px;
			bottom: :10px;
			font-family: "Montserrat";
			font-size: 14px;
		}
		.credits i i:last-child{
			color:red;
		}