*{
	padding: 0;
	margin:0;
}

.title___lK-4m{
	font-weight: bold;
	font-family: "Work Sans";
}

.cont___27YFm{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
